body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(115, 160, 202);
}

/* Simulate a phone screen */
.phone-screen {
  width: 450px; /* Adjust the width as needed for your desired phone size */
  height: 920px; /* Adjust the height as needed for your desired phone size */
  position: relative;
  margin: 0px auto;
  border: 16px black solid;
  border-radius: 36px;
  overflow: hidden;
  background-color: #202124;
}

/* Content within the phone screen */
.phone-content {
  padding: 20px;
}

/* Add media query to apply styles only on smaller screens */
@media (max-width: 768px) {
  .phone-screen {
    width: 100%;
    border: none;
    border-radius: 0;
  }
}

/* Add this to your styles */
.custom-offcanvas {
  right: 0;
  transform: translateX(100%);
  max-width: 450px; /* Adjust the width as needed */
}
